.line {
    border: 1px solid #F4F4F4;
    position: relative;
    padding: 20px; 
    margin-bottom: 20px;
}
.text {
    display: block;
    text-align: center; 
    width: 50px; 
    position: absolute; 
    top: -10px; 
    left: 20px; 
    background-color: white;

}
.basic {
    height: 120px;
}
.name {
    width: 48%;
    margin-right: 4%;
}
.type {
    width: 48%; 
}
.cron {
    width: 100%; 
    margin-top: 15px; 
}
.command {
    height: 160px; 
}
.typeOdd {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 10px;
}
.typeEven {
    width: 48%;
    margin-bottom: 10px;
}
.path {
    width: 80%; 
    margin-right: 5%;
    margin-bottom: 10px;
}
.btn{
    margin-bottom: 10px;
}
